<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cl.philipsoft.ph1l.retrowow">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_wow_48dp"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_wow_48dp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="DATABASE"
            android:value="retrowow.db" />
        <meta-data
            android:name="VERSION"
            android:value="2" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="cl.philipsoft.ph1l.retrowow.models" />

        <activity android:name=".MainActivity" />
        <activity
            android:name=".views.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_splash"
            android:theme="@style/FullscreenTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".background.services.RacesService"
            android:exported="false" />
        <service
            android:name=".background.services.RealmsService"
            android:exported="false" />
        <service
            android:name=".background.services.ClassesService"
            android:exported="false"></service>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="444cc818f4a7ad94c547c706d2bbe39e7c89c2ad" />
    </application>

</manifest>